.purchase-btn {
  width: 140px;
  background: #1e90ff;
  text-align: center;
  border-radius: 4%;
  bottom: 100px;
  right: 45px;
  position: fixed;
  padding: 15px;
  transition : 1s;
}

.purchase-btn:hover {
  transition: all 0.3s ease 0s;
  background-color: #00bfff;
  transform: scale(1.1,1.1);
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 50%;
}

@media (max-width: 1024px) {
.purchase-btn {
  width: 100px;
  padding: 10px;
}

.purchase-btn-text {
  font-size: 12px;
}

.purchase-btn-icon {
  width: 50%;
}

}

@media (max-width: 500px) {
  .purchase-btn {
    width: 80px;
    bottom: 70px;
    right: 15px;
    padding: 7px;
  }

  .purchase-btn-text {
    font-size: 3px;
  }
}

