
header.header div.header1_bow {
  position: relative;
}

header.header div.header1_bow h1.header1_grid {
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: aliceblue;
  margin-top: 3px;
}

header.header div.header1_bow h1.header1_grid p {
  display: block;
}

header.header div.header2_bow {
  position: relative;
}


header.header div.header2_bow h1.header2_grid {
  font-size: 30px;
  line-height: 41px;
  text-align: left;
  color: aliceblue;
  margin-top: 3px;
}

@media (max-width: 500px) {
  header.header div.header2_bow h1.header2_grid {
    font-size: 20px;
  }
}
