header.header {
  z-index: 5;
  position: fixed;
  background-color: blue;
  border-bottom: 1px solid yellow;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height: 70px;
}

header.header div.header_bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 24px;
}
