/* btn */
.%css-ctar% .aiin-btn {
	position:relative;
	display:table;
	border-collapse:separate;
	border-spacing:8px 6px;
	color:#fff;
	background:#4267b2;
	border-radius:5px;
	cursor:pointer;
	user-select:none;
	-moz-user-select:none;
	-webkit-tap-highlight-color:transparent;
	line-height:1;
}
.%css-ctar% .aiin-btn.aiin-sel {
	color:#00ff00;
}
.%css-ctar% .aiin-btn.aiin-not-allowed {
	cursor:default;
}
/* tcell */
.%css-ctar% .aiin-tcell {
	display:table-cell;
	vertical-align:middle;
}
.%css-ctar% .aiin-tcell:first-child {
	padding-left:5px;
}
.%css-ctar% .aiin-tcell:last-child {
	padding-right:5px;
}
/* vcnt */
.%css-ctar% .aiin-vcnt {
	position:relative;
	top:1px;
	font-family:"Arial";
	font-size:24px;
	text-align:right;
	min-width:15px;
	vertical-align:middle;
}
/* icon */
.%css-ctar% .aiin-icon {
	position:relative;
}
.%css-ctar% .aiin-icon,
.%css-ctar% .aiin-icon-off,
.%css-ctar% .aiin-icon-on {
	width:26px;
	height:26px;
}
.%css-ctar% .aiin-icon-off {
	position:relative;
	background:url("%url-tpl%img/icon-off.png");
	background-size:100% 100%;
}
.%css-ctar% .aiin-icon-on {
	position:absolute;
	top:0;
	left:0;
	background:url("%url-tpl%img/icon-on.png");
	background-size:100% 100%;
	opacity:0;
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-icon-on {
	opacity:1;
}
